<app-header></app-header>

<!-- Contenedor principal con margen superior y estilo claro -->
<div class="min-h-screen flex flex-col items-center bg-gray-50 pt-16 px-6">
  
  <div *ngIf="hotel" class="bg-white text-gray-800 p-8 rounded-xl shadow-lg w-full max-w-4xl">
    <!-- Imagen y título -->
    <div class="mb-8">
      <h1 class="text-4xl font-extrabold text-[#003087]">{{ hotel.name }}</h1>
      <p class="text-lg text-[#00AEEF]">{{ hotel.location }}</p>
      <img [src]="hotel.image" [alt]="hotel.name" class="w-full h-80 object-cover rounded-lg mt-6 shadow-lg">
    </div>
  
    <!-- Descripción -->
    <p class="text-gray-700 text-xl mb-6">{{ hotel.description }}</p>
  
    <!-- Habitaciones o suites -->
    <div *ngIf="hotel.rooms?.length > 0" class="mt-8">
      <h2 class="text-3xl font-semibold text-[#003087]">Opciones de Habitaciones</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
        <div *ngFor="let room of hotel.rooms" class="bg-gray-100 p-6 rounded-xl shadow-md hover:shadow-xl transition">
          <h3 class="text-xl font-semibold text-[#00AEEF]">{{ room.type }}</h3>
          <p class="text-base text-gray-700 mt-2">
            Precio: 
            <span *ngIf="room.priceUsd; else noPrice" class="font-semibold text-[#003087]">$ {{ room.priceUsd }}</span>
            <ng-template #noPrice>
              <span class="text-red-500">Precio no disponible</span>
            </ng-template>
          </p>
        </div>
      </div>
    </div>

    <!-- Nota sobre la red iberoamericana -->
<p class="text-center text-sm text-gray-700 mt-6">
  * Para reservar hotel debe indicar que es parte de la Red Iberoamericana para acceder al precio preferencial.
</p>

<!-- Botón de Ir al sitio oficial -->
<div class="mt-4 flex justify-center">
  <a [href]="hotel.url" target="_blank"
     class="inline-block bg-[#00AEEF] text-white px-8 py-3 rounded-lg shadow-lg hover:bg-[#003087] transition duration-300 transform hover:scale-105">
    Ir al sitio oficial
  </a>
</div>
    <!-- Botón de regreso -->
    <div class="mt-6 flex justify-center">
      <a routerLink="hoteles"
         class="inline-block bg-[#003087] text-white px-8 py-3 rounded-lg shadow-lg hover:bg-[#00AEEF] transition duration-300 transform hover:scale-105">
        Regresar a la lista de hoteles
      </a>
    </div>
  </div>
</div>
