<app-header></app-header>

<!-- Contenedor principal con margen superior mayor -->
<div class="flex flex-col-reverse md:flex-row items-center justify-center min-h-screen bg-gray-100 gap-6 mt-20 md:mt-32 px-2 md:px-8">

  <!-- Sección del banner -->
  <div class="w-full md:w-1/2 flex justify-center p-4 md:p-6">
    <img src="assets/portada.jpg" alt="Banner del Congreso" class="w-full max-w-lg rounded-lg shadow-md">
  </div>

  <!-- Sección del formulario -->
  <div class="w-full md:w-1/2 px-2 md:px-6">
    <h2 class="text-2xl font-bold text-center mb-4">Registro al Congreso</h2>
    <div class="relative w-full bg-white shadow-lg p-4 md:p-6 rounded-md">
      <iframe 
        src="https://forms.office.com/Pages/ResponsePage.aspx?id=ODAmzxzx0kmRg1VqNLdH4mYH53RKLDBMh0Oxd7BNs-lUQVJEN1JJRlpMM0kySDlROFcySkFWMDk0Si4u&embed=true" 
        class="w-full h-[600px] rounded-md"
        frameborder="0" 
        allowfullscreen 
        webkitallowfullscreen 
        mozallowfullscreen 
        msallowfullscreen>
        Cargando…
      </iframe>
    </div>
  </div>

</div>

<app-footer></app-footer>
